<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">ค่าเฉลี่ยของการเกิดโรคเบาหวาน</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">ปัจจัยในการเป็นโรคเบาหวาน</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">สถิติการเป็นโรคเบาหวานของกลุ่มตัวอย่าง 200 คน โดยมีความแม่นยำ 77.64%</a>
    </li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>


